:root {
  --d-white: #ffffff;
  --d-white-o-80: rgba(255, 255, 255, 0.8);
  --d-white-o-60: rgba(255, 255, 255, 0.6);
  --d-white-o-40: rgba(255, 255, 255, 0.4);
  --d-white-o-20: rgba(255, 255, 255, 0.2);
  --d-white-o-10: rgba(255, 255, 255, 0.1);

  --d-background-blue: rgb(7, 21, 54);
  --d-background-black: rgba(24, 24, 24, 1);
  --d-flare-blue: rgba(12, 31, 73, 0.5);

  --d-aqua: rgba(94, 234, 212, 1);
  --d-aqua-opaque: rgba(45, 212, 191, 0.2);

}

/* semantic color variables for this project */
:root {
  --background-color: var(--d-background-blue);
  --flare-color: var(--d-flare-blue);

  --skill-background: var(--d-aqua-opaque);
  --skill-text: var(--d-aqua);

  --section-gap: 128px;
  --icon-gap: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  color: var(--d-white);
  background: var(--background-color);

  scrollbar-base-color: var(--background-color);

  line-height: 1.6;
  font-family: "League Spartan", 
  sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}