@import './base.css';

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem ;
  min-height: 100vh;
}

#container {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 100vh;
  
  display: flex;
  justify-content: space-between;
}