@import './base.css';

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

#flare {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(800px at 50% 50%, var(--flare-color), transparent 70%);
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem ;
  min-height: 100vh;
  z-index: 30;
}

#container {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}